.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
	-fx-padding: 0;
}

.zweetUser {
	-fx-text-fill: rgb(179, 12, 55);
}

.zweetUsername {
	-fx-font-style: italic;
	-fx-font-size: 10.0pt;
	-fx-text-fill: grey;
}

.search {
	-fx-background-color: white;
	-fx-background-insets: 1;
	-fx-background-radius: 15;
	-fx-padding: -9 5 -11 0;
	-fx-border-image-source: url("images/search-box.png");
	-fx-border-image-slice: 12 12 12 22 fill;
	-fx-border-image-width: 12 12 12 22;
	-fx-border-image-repeat: stretch;
	-fx-font-size: 13px;
	-fx-prompt-text-fill: grey;
}

.search:focused {
	-fx-background-color: -fx-focus-color, white;
	-fx-background-insets: -1.4, 1;
	-fx-background-radius: 14.4;
	-fx-prompt-text-fill: rgb(179, 12, 55);
}

.clearSearch {
	-fx-background-color: null;
	-fx-background-image: url("images/search-clear.png");
}

.clearSearch:hover {
	-fx-background-image: url("images/search-clear-over.png");
}